body {
  height: 200vh;
  background: linear-gradient(lightblue, lightgreen);
}

.container {
  margin-top: 500px;
  display: flex;
  gap: 30px;
  height: 100vh;
}

.img-container,
.content {
  width: 50%;
}

.img {
  background-image: url('orange-juice.webp');
  background-repeat: no-repeat;
  transition: 0.1s;
}
